  @font-face {
  font-family: "Mundo Sans";
  font-weight: 500;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/mundo_sans/mundosans_n5.07197f15a8a4d7ae79aee444fa19589c502acb2c.woff2?h1=dGFpbG9yZWRjb21wYW55c3RvcmVzLmNvbQ&h2=dGFpbG9yZWQtY29tcGFueS1zdG9yZXMuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=62a7bde4c20093e30d596d84ba21aaeada62316702cb1a3448e5bcfed92fdab7") format("woff2"),
       url("https://fonts.shopifycdn.com/mundo_sans/mundosans_n5.f9b7f62ae4fd0ac145d3cc68b9f1ae26e0cb2d29.woff?h1=dGFpbG9yZWRjb21wYW55c3RvcmVzLmNvbQ&h2=dGFpbG9yZWQtY29tcGFueS1zdG9yZXMuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=8d5c4abc4f25ec1a401b4131b6d2019cf6354c41049dec1396a2fed5f4febdf8") format("woff");
}


@font-face {
    font-family: Mundo Sans;
    font-weight: 400;
    font-style: normal;
    font-display: block;
    src: url(https://fonts.shopifycdn.com/mundo_sans/mundosans_n4.bac84b6699f4c71677843a93b19ef215d561105f.woff2?h1=dGFpbG9yZWRjb21wYW55c3RvcmVzLmNvbQ&hmac=1cac14f926bd0ca2695d95fd5b2d5476eee67efaf2f2edeae1dbc6ee42d480f6) format("woff2"), url(https://fonts.shopifycdn.com/mundo_sans/mundosans_n4.b80a5df766608db917bf6123f81b573241a1e68d.woff?h1=dGFpbG9yZWRjb21wYW55c3RvcmVzLmNvbQ&hmac=9c368bfaf861795a4ae9ef861a268b2ba3bed486d31b597322bea91da749cc3b) format("woff")
}

@font-face {
    font-family: Mundo Sans;
    font-weight: 700;
    font-style: normal;
    font-display: block;
    src: url(https://fonts.shopifycdn.com/mundo_sans/mundosans_n7.1181700e6215702bc733286049874c70cee87e37.woff2?h1=dGFpbG9yZWRjb21wYW55c3RvcmVzLmNvbQ&hmac=ec2e467e2d41181203b566fda4d9891d991db2f6a5de4c49fc9aae42c95dbaea) format("woff2"), url(https://fonts.shopifycdn.com/mundo_sans/mundosans_n7.683f4aad70984c842f059162bada4dca3d3d54b1.woff?h1=dGFpbG9yZWRjb21wYW55c3RvcmVzLmNvbQ&hmac=914f4d84fda66b9ec666f01cee5a4ccec9ed527b8b40627310773368034bfd90) format("woff")
}

@font-face {
    font-family: Mundo Sans;
    font-weight: 400;
    font-style: italic;
    font-display: block;
    src: url(https://fonts.shopifycdn.com/mundo_sans/mundosans_i4.ffe3d7c7b0352d5492192958162e5a855936c042.woff2?h1=dGFpbG9yZWRjb21wYW55c3RvcmVzLmNvbQ&hmac=a4f4576be2bdd546f3bf884a8a3c3167ccd5e99367a4a7e9e45b61cda2d30b7d) format("woff2"), url(https://fonts.shopifycdn.com/mundo_sans/mundosans_i4.28b3d0b5785c695ee6231c67c85008d12b33ca43.woff?h1=dGFpbG9yZWRjb21wYW55c3RvcmVzLmNvbQ&hmac=fd31fc0e650b056ba47e4f1d39392dc1fd4f288afaeee0a4a9bf70642f42250c) format("woff")
}

@font-face {
    font-family: Mundo Sans;
    font-weight: 700;
    font-style: italic;
    font-display: block;
    src: url(https://fonts.shopifycdn.com/mundo_sans/mundosans_i7.edcb162ad6b3bd64b8584b2ca277d68526043b2b.woff2?h1=dGFpbG9yZWRjb21wYW55c3RvcmVzLmNvbQ&hmac=1ed1db05e175d795ff8c76b8ccd9f2c67ae6da2b3ddb5bea78fffed7790fd4c3) format("woff2"), url(https://fonts.shopifycdn.com/mundo_sans/mundosans_i7.f9d190741056e5e293daf0b50aff5a4b850273fb.woff?h1=dGFpbG9yZWRjb21wYW55c3RvcmVzLmNvbQ&hmac=a314454fe8a934da48e64a42cbac0053c863fb395f8aff847b57b325d05e7c58) format("woff")
}

{###########################################################################}
{############################   1. Variables   #############################}
{###########################################################################}

/* 1a. Containers */

{% set container_width = theme.spacing.maximum_content_width ~ 'px' %}
{% set dnd_section_padding = theme.spacing.vertical_spacing ~ 'px ' ~ '1rem' %}

/* 1b. Colors */

{% set primary_color = theme.global_colors.primary.color  %}
{% set secondary_color = theme.global_colors.secondary.color %}

/* 1c. Typography */

{% set primary_font = theme.global_fonts.primary %}
{% set secondary_font = theme.global_fonts.secondary %}

{% set h1_font = theme.text.h1.font %}
{% set h1_text_transform = theme.text.h1.transform %}

{% set h2_font = theme.text.h2.font %}
{% set h2_text_transform = theme.text.h2.transform %}

{% set h3_font = theme.text.h3.font %}
{% set h3_text_transform = theme.text.h3.transform %}

{% set h4_font = theme.text.h4.font %}
{% set h4_text_transform = theme.text.h4.transform %}

{% set h5_font = theme.text.h5.font %}
{% set h5_text_transform = theme.text.h5.transform %}

{% set h6_font = theme.text.h6.font %}
{% set h6_text_transform = theme.text.h6.transform %}

{% set body_font = theme.text.body_font.font %}

{% set anchor_font = theme.text.links.font %}

body {
  {{ body_font }}
  /*font: 16px/1.5 "Mundo Sans", "Open Sans" Arial, sans-serif;*/
  color: {{ theme.global_colors.primary.color }}; 
}

.text-right {
  text-align: right; 
}
.text-center {
  text-align: center;
}

html[lang^="ja"] body,
html[lang^="zh"] body,
html[lang^="ko"] body {
  line-break: strict; 
  word-break: break-all;
}

/* Paragraphs */

p {
  margin: 0 0 20px;
}
p span {
  font-weight: 300;
}
p strong {
  font-weight: 500; 
}

p a {
  text-decoration: underline;
}
p a:hover {
  text-decoration: none;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child, p:last-child {
  margin-bottom: 0
}
/* Lists */

ul,
ol {
  margin: 0 0 20px;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin: 0;
}

ul.no-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* Code blocks */

pre {
  overflow: auto;
}

code {
  vertical-align: bottom;
}

/* Blockquotes */

blockquote {
  border-left: 2px solid;
  margin: 0 0 1.4rem;
  padding-left: 0.7rem;
}

/* Horizontal rules */

hr {
  border: none;
  border-bottom: 1px solid #CCC;
}

/* Image alt text */

img {
  display: block;
  max-width: 100%;
  height: auto;
}


/* Links and Buttons */
a,
button,
input[type='submit'] {
  -webkit-appearance: none;
  outline: none !important;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
a {
  color: #D7272E;
}
a:hover,
a:focus {
    text-decoration: none;
}
a.link-default {
  color: default;
}

.hs-button {
  -webkit-appearance: none;
  box-sizing: border-box;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
  white-space: normal;
  font: 500 18px/24px "Ubuntu",Arial, sans-serif;
  border: 1px solid transparent;
  background: #D7272E;
  outline: none !important;
  cursor: pointer;
  padding: 15px 25px;
  display: inline-flex; 
  align-items: center;
  vertical-align: top;
  text-align: center;
  justify-content: center;
  color: #fff;
  border-radius: 40px;
  min-width: 220px; 
}
.hs-button:hover,
.hs-button:focus{
  color: #fff;
  background: #a6080f;
}

.hs-button.hs-secondary {
  background: #fff;
  color: #087078;
}
.hs-button.hs-secondary:hover,
.hs-button.hs-secondary:focus{
  background: #087078;
  color: #fff;  
}
.hs-button.hs-button-blue {
  background: #0b3b60;
  color: #fff;
}
.hs-button.hs-button-blue:hover,
.hs-button.hs-button-blue:focus {
  background: #062b47;
}
.hs-button.hs-button-green {
  background: #007178;
  color: #fff;
}
.hs-button.hs-button-green:hover,
.hs-button.hs-button-green:focus {
  background: #062b47;
}

.hs-button.hs-button-gray {
  background: #e6e6e6;
  color: #0b3b60;
}
.hs-button.hs-button-gray:hover,
.hs-button.hs-button-gray:focus {
  background: #0b3b60;
  color: #fff;
}
.hs-button.hs-button-gray-outline {
  border-color: #54565b;
  color: #54565b;
  background: none;
}
.hs-button.hs-button-gray-outline:hover,
.hs-button.hs-button-active,
.hs-button.hs-button-gray-outline:focus {
  background: #D7272E;
  color: #fff;
  border-color: #D7272E;
}

.hs-button-outline {
  border-color: #D7272E;
  color: #D7272E;
  background: none;
}
.hs-button.hs-secondary-outline:hover,
.hs-button.hs-secondary-outline:focus{
  background: #D7272E;
  color: #fff;  
}
.hs-button.hs-secondary-outline {
  border-color: #fff;
  color: #fff;
  background: none;
}
.hs-button.hs-secondary-outline:hover,
.hs-button.hs-secondary-outline:focus{
  background: #fff;
  color: #D7272E;  
}
.hs-button.hs-button-blue-outline {
  border-color: #0b3b60;
  color: #0b3b60;
  background: none;
}
.hs-button.hs-button-blue-outline:hover,
.hs-button.hs-button-blue-outline:focus {
  background: #0b3b60;
  color: #fff; 
}
.hs-button.hs-button-green-outline {
  border-color: #007178;
  background: none;
  color: #007178;
}
.hs-button.hs-button-green-outline:hover,
.hs-button.hs-button-green-outline:focus {
  background: #007178;
  color: #fff;
}

.hs-button.hs-button-small {
  min-width: 170px;
  font-weight: 400;
  padding: 12px 15px;
}
/* start new styles */
.hs-button {
  font-size: 16px;
  padding: 12px 25px;
  min-width: 190px;
}
@media (min-width: 1170px) {
  .hs-button.hs-button-large {
    font-size: 20px;
    padding-left: 48px;
    padding-right: 48px;
  }
}

button:disabled,
.hs-button:disabled {
  background-color: #D0D0D0;
  border-color: #D0D0D0;
  color: #E6E6E6; 
}

a {
  {{ anchor_font.style }};
  color: {{ anchor_font.color }};
}



/* Headings */

h1,
.h1 {
  {{ h1_font.style }};
  color: {{ h1_font.color }};
  font-size: {{ h1_font.size ~ h1_font.size_unit }};
  text-transform: {{ h1_text_transform }};
}

h2,
.h2 {
  {{ h2_font.style }};
  color: {{ h2_font.color }};
  font-size: {{ h2_font.size ~ h2_font.size_unit }};
  text-transform: {{ h2_text_transform }};
}

h3,
.h3 {
  {{ h3_font.style }};
  color: {{ h3_font.color }};
  font-size: {{ h3_font.size ~ h3_font.size_unit }};
  text-transform: {{ h3_text_transform }};
}

h4,
.h4 {
  {{ h4_font.style }};
  color: {{ h4_font.color }};
  font-size: {{ h4_font.size ~ h4_font.size_unit }};
  text-transform: {{ h4_text_transform }};
}

h5,
.h5 {
  {{ h5_font.style }};
  color: {{ h5_font.color }};
  font-size: {{ h5_font.size ~ h5_font.size_unit }};
  text-transform: {{ h5_text_transform }};
}

h6,
.h6 {
  {{ h6_font.style }};
  color: {{ h6_font.color }};
  font-size: {{ h6_font.size ~ h6_font.size_unit }};
  text-transform: {{ h6_text_transform }};
}


@media (max-width: 1169px) {
  body {
    font-size: 14px;
  }
  h1, .h1 {
    font-size: 24px; 
  }
  h2, .h2 {
    font-size: 26px;
  }
  h3, .h3 {
    font-size: 22px;
  }
  h4, .h4 {
    font-size: 20px;
  }
}