<!--
  templateType: "global_partial"
  label: "Website header"
  isAvailableForNewContent: false
-->

<header id="header">
  {# The link below is used for a navigation skipper which allows users
  navigating the site with their keyboard to skip over the site navigation. More
  information on the navigation skipper can be found here:
  https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}

  <a href="#main-content" class="header__skip">Skip to content</a>
  
  {% module "module_168303635024211" path="/tailored-theme/templates/partials/header-global-module", label="header-global-module" %}
</header>
