html,
body {
  overflow-x: hidden !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.dnd-section .dnd-column {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.hs-site-page ul {
  list-style: disc !important;
  padding-left: 15px;
}

.hs-site-page ul li {
  margin-bottom: 16px;
}

.hs-site-page p {
  margin-bottom: 18px;
}

.container-fluid.footer__container .footer-column-1-row-0-margin {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.jk_hero__box {
    background-color: rgba(255,255,255,.6);
    padding: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}