<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

<!-- PRODUCT OVERVIEW MODULE -->

<section class="ph_product-overview">
	<!-- GRID -->
	<div class="ph_product-overview__grid tw-grid tw-grid-cols-2 tw-grid-rows-2 tw-gap-x-12 tw-gap-y-12">

		<!-- COLUMN 1 -->
  <div class="ph_product-overview__grid-col-1 tw-col-span-2 md:tw-col-span-1">
  <!-- gallery -->
  <div class="ph_product-overview__image-gallery">
    <!-- begin swiper.js thumbs gallery code -->
    <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
      class="ph_product-overview__gallery-slider swiper mySwiper2 swiper-initialized swiper-horizontal swiper-backface-hidden tw-mb-2">
      <div class="swiper-wrapper" id="swiper-wrapper-e7a4643043425b30" aria-live="polite">
        <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 10"
          style="width: 1440px; margin-right: 10px">
          <img
            src="https://22759948.fs1.hubspotusercontent-na1.net/hubfs/22759948/img/product-shot-binder-lift-3.jpg" />
        </div>
        <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 10"
          style="width: 1440px; margin-right: 10px">
          <img
            src="https://22759948.fs1.hubspotusercontent-na1.net/hubfs/22759948/img/product-shot-binder-lift-3.jpg" />
        </div>
        <div class="swiper-slide" role="group" aria-label="3 / 10" style="width: 1440px; margin-right: 10px">
          <img
            src="https://22759948.fs1.hubspotusercontent-na1.net/hubfs/22759948/img/product-shot-binder-lift-3.jpg" />
        </div>
        <div class="swiper-slide" role="group" aria-label="4 / 10" style="width: 1440px; margin-right: 10px">
          <img
            src="https://22759948.fs1.hubspotusercontent-na1.net/hubfs/22759948/img/product-shot-binder-lift-3.jpg" />
        </div>
        <div class="swiper-slide" role="group" aria-label="5 / 10" style="width: 1440px; margin-right: 10px">
          <img
            src="https://22759948.fs1.hubspotusercontent-na1.net/hubfs/22759948/img/product-shot-binder-lift-3.jpg" />
        </div>
        <div class="swiper-slide" role="group" aria-label="6 / 10" style="width: 1440px; margin-right: 10px">
          <img
            src="https://22759948.fs1.hubspotusercontent-na1.net/hubfs/22759948/img/product-shot-binder-lift-3.jpg" />
        </div>
        <div class="swiper-slide" role="group" aria-label="7 / 10" style="width: 1440px; margin-right: 10px">
          <img
            src="https://22759948.fs1.hubspotusercontent-na1.net/hubfs/22759948/img/product-shot-binder-lift-3.jpg" />
        </div>
        <div class="swiper-slide" role="group" aria-label="8 / 10" style="width: 1440px; margin-right: 10px">
          <img
            src="https://22759948.fs1.hubspotusercontent-na1.net/hubfs/22759948/img/product-shot-binder-lift-3.jpg" />
        </div>
        <div class="swiper-slide" role="group" aria-label="9 / 10" style="width: 1440px; margin-right: 10px">
          <img
            src="https://22759948.fs1.hubspotusercontent-na1.net/hubfs/22759948/img/product-shot-binder-lift-3.jpg" />
        </div>
        <div class="swiper-slide" role="group" aria-label="10 / 10" style="width: 1440px; margin-right: 10px">
          <img
            src="https://22759948.fs1.hubspotusercontent-na1.net/hubfs/22759948/img/product-shot-binder-lift-3.jpg" />
        </div>
      </div>
      <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"
        aria-controls="swiper-wrapper-e7a4643043425b30" aria-disabled="false"></div>
      <div class="swiper-button-prev swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide"
        aria-controls="swiper-wrapper-e7a4643043425b30" aria-disabled="true"></div>
      <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div> <!-- /.ph_product-overview__gallery-slider -->
    <div thumbsslider=""
      class="ph_product-overview__gallery-thumbs swiper mySwiper swiper-initialized swiper-horizontal swiper-free-mode swiper-watch-progress swiper-backface-hidden swiper-thumbs">
      <div class="swiper-wrapper" id="swiper-wrapper-1ed18f226de7608f" aria-live="polite"
        style="transform: translate3d(0px, 0px, 0px)">
        <div class="swiper-slide swiper-slide-visible swiper-slide-active swiper-slide-thumb-active" role="group"
          aria-label="1 / 10" style="width: 352.5px; margin-right: 10px">
          <img
            src="https://22759948.fs1.hubspotusercontent-na1.net/hubfs/22759948/img/product-shot-binder-lift-3.jpg" />
        </div>
        <div class="swiper-slide swiper-slide-visible swiper-slide-next" role="group" aria-label="2 / 10"
          style="width: 352.5px; margin-right: 10px">
          <img
            src="https://22759948.fs1.hubspotusercontent-na1.net/hubfs/22759948/img/product-shot-binder-lift-3.jpg" />
        </div>
        <div class="swiper-slide swiper-slide-visible" role="group" aria-label="3 / 10"
          style="width: 352.5px; margin-right: 10px">
          <img
            src="https://22759948.fs1.hubspotusercontent-na1.net/hubfs/22759948/img/product-shot-binder-lift-3.jpg" />
        </div>
        <div class="swiper-slide swiper-slide-visible" role="group" aria-label="4 / 10"
          style="width: 352.5px; margin-right: 10px">
          <img
            src="https://22759948.fs1.hubspotusercontent-na1.net/hubfs/22759948/img/product-shot-binder-lift-3.jpg" />
        </div>
        <div class="swiper-slide" role="group" aria-label="5 / 10" style="width: 352.5px; margin-right: 10px">
          <img
            src="https://22759948.fs1.hubspotusercontent-na1.net/hubfs/22759948/img/product-shot-binder-lift-3.jpg" />
        </div>
        <div class="swiper-slide" role="group" aria-label="6 / 10" style="width: 352.5px; margin-right: 10px">
          <img
            src="https://22759948.fs1.hubspotusercontent-na1.net/hubfs/22759948/img/product-shot-binder-lift-3.jpg" />
        </div>
        <div class="swiper-slide" role="group" aria-label="7 / 10" style="width: 352.5px; margin-right: 10px">
          <img
            src="https://22759948.fs1.hubspotusercontent-na1.net/hubfs/22759948/img/product-shot-binder-lift-3.jpg" />
        </div>
        <div class="swiper-slide" role="group" aria-label="8 / 10" style="width: 352.5px; margin-right: 10px">
          <img
            src="https://22759948.fs1.hubspotusercontent-na1.net/hubfs/22759948/img/product-shot-binder-lift-3.jpg" />
        </div>
        <div class="swiper-slide" role="group" aria-label="9 / 10" style="width: 352.5px; margin-right: 10px">
          <img
            src="https://22759948.fs1.hubspotusercontent-na1.net/hubfs/22759948/img/product-shot-binder-lift-3.jpg" />
        </div>
        <div class="swiper-slide" role="group" aria-label="10 / 10" style="width: 352.5px; margin-right: 10px">
          <img
            src="https://22759948.fs1.hubspotusercontent-na1.net/hubfs/22759948/img/product-shot-binder-lift-3.jpg" />
        </div>
      </div>
      <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
    <!-- /.ph_product-overview__gallery-thumbs -->
  </div> <!-- /.ph_product-overview__image-gallery -->
</div> <!-- /.ph_product-overview_grid-col-1 -->

		<!-- COLUMN 2 -->
		<div class="ph_product-overview__grid-col-2 tw-col-span-2 md:tw-col-span-1 tw-col-span-1">
			<h2 class="ph_product-overview__title tw-mb-1">
				{% inline_text field="product_title" value="{{ module.product_title }}" no_wrapper=True %}
			</h2>
			<div class="ph_product-overview__description">
				{% inline_rich_text field="product_description" value="{{ module.product_description }}" no_wrapper=True %}
			</div>
			<div class="ph_product-overview__badge-usa tw-flex tw-justify-center">
				 <img class="tw-w-24 tw-mb-8 tw-mx-2" src="https://22759948.fs1.hubspotusercontent-na1.net/hubfs/22759948/img/gx-made-in-the-usa.svg" alt="made in the usa badge">
        <img class="tw-w-24 tw-mb-8 tw-mx-2" src="https://22759948.fs1.hubspotusercontent-na1.net/hubfs/22759948/img/gx-five-year-warranty_1.svg" alt="five-year warranty badge">
			</div>

			<!-- |||||||||| SECTION :: Modals |||||||||| -->
<div class="ph_product-overview__ctas tw-flex tw-justify-center">
  <div class="micromodal__master">
    
    <!-- Buttons for modals -->
    <div class="ph_mod-product_button-container tw-flex tw-justify-center tw-flex-wrap">
      <button id="modal_button-1" class="myButton ph_btn-1 ph_product-overview__cta ph_product-overview__btn cta_button ph_cta-custom tw-m-3 tw-block tw-w-48">Request Quote</button>
      <button id="modal_button-2" class="myButton ph_btn-2 ph_product-overview__cta ph_product-overview__btn cta_button ph_cta-custom tw-m-3 tw-block tw-w-48">Request Field Trial</button>
    </div> <!-- /.ph_mod-product_button-container -->
  </div>
</div> <!-- /.ph_product-overview__ctas -->


		</div> <!-- /.ph_product-overview_grid-col-2 -->

		<!-- COLUMN 3 -->
		<div class="ph_product-overview__grid-col-3 tw-col-span-2">
			<div class="ph_product-overview__feature-tabs">
				<!-- tabbed_card.module - web-default-modules -->
            {# Module styles #}

            {% macro set_border_top_sides(module_style) %}
              {% set border_width = module_style.top.width.value ~ module_style.top.width.units %}
              {% set border_style = module_style.top.style %}
              {% set border_color = module_style.top.color|convert_rgb %}
              {% set border_opacity = module_style.top.opacity %}
              border-top: {{ border_width }} {{ border_style }} rgba({{ border_color }}, {{ border_opacity / 100 }});
              border-left: {{ border_width }} {{ border_style }} rgba({{ border_color }}, {{ border_opacity / 100 }});
              border-right: {{ border_width }} {{ border_style }} rgba({{ border_color }}, {{ border_opacity / 100 }});
            {% endmacro %}

            {% macro set_border_bottom(module_style) %}
              {% set border_width = module_style.bottom.width.value ~ module_style.bottom.width.units %}
              {% set border_style = module_style.bottom.style %}
              {% set border_color = module_style.bottom.color|convert_rgb %}
              {% set border_opacity = module_style.bottom.opacity %}
              border-bottom: {{ border_width }} {{ border_style }} rgba({{ border_color }}, {{ border_opacity / 100 }});
            {% endmacro %}

            {% set active_style = module.styles.tabs.active %}
            {% set active_bg_color = active_style.background.color %}
            {% set active_font = active_style.text.font %}
            {% set inactive_style = module.styles.tabs.inactive %}
            {% set inactive_bg_color = inactive_style.background.color %}
            {% set inactive_font = inactive_style.text.font %}
            {% set hover_style = module.styles.tabs.hover %}
            {% set hover_bg_color = hover_style.background.color %}
            {% set hover_font = hover_style.text.font %}

            {% require_css %}
              <style>
              {% scope_css %}
                {# Tabs wrapper #}

                .hs-tabs-wrapper {
                  {{ module.styles.tabbed_card.spacing.spacing.css }}
                  {{ module.styles.tabbed_card.border.border.css }}
                }

                {# Tabs #}

                .hs-tabs__tab {
                  {% if module.styles.tabs.spacing.spacing %}
                    {{ module.styles.tabs.spacing.spacing.css }}
                  {% endif %}
                }

                {# Active tab #}

                .hs-tabs__tab[aria-selected='true'] {

                  {% if active_style.group_top_sides.top_sides.css %}
                    {{ set_border_top_sides(active_style.group_top_sides.top_sides) }}
                  {% endif %}

                  {% if active_style.group_bottom.bottom.css %}
                    {{ set_border_bottom(active_style.group_bottom.bottom) }}
                  {% endif %}

                  {% if active_bg_color.color %}
                    background-color: rgba({{ active_bg_color.color|convert_rgb }}, {{ active_bg_color.opacity / 100 }});
                  {% endif %}
                  {% if active_font.color %}
                    color: {{ active_font.color }};
                  {% endif %}
                  {% if active_font.size %}
                    font-size: {{ active_font.size ~ active_font.size_unit }};
                  {% endif %}
                  {% if active_font.style %}
                    {{ active_font.style }};
                  {% endif %}
                }

                {# Applies border to pseudo element to prevent jitter when hovering #}

                .hs-tabs__tab[aria-selected='true']:after {
                  {% if active_style.group_bottom.bottom.css %}
                    {{ set_border_bottom(active_style.group_bottom.bottom) }}
                  {% else %}
                    border-bottom: 2px solid;
                  {% endif %}
                }

                {# Inactive tabs #}

                .hs-tabs__tab[aria-selected='false'] {
                  {% if inactive_style.group_top_sides.top_sides.css %}
                    {{ set_border_top_sides(inactive_style.group_top_sides.top_sides) }}
                  {% endif %}

                  {% if inactive_style.group_bottom.bottom.css %}
                    {{ set_border_bottom(inactive_style.group_bottom.bottom) }}
                  {% endif %}
                  {% if inactive_bg_color.color %}
                    background-color: rgba({{ inactive_bg_color.color|convert_rgb }}, {{ inactive_bg_color.opacity / 100 }});
                  {% endif %}
                  {% if inactive_font.color %}
                    color: {{ inactive_font.color }};
                  {% endif %}
                  {% if inactive_font.size %}
                    font-size: {{ inactive_font.size ~ inactive_font.size_unit }};
                  {% endif %}
                  {% if inactive_font.style %}
                    {{ inactive_font.style }};
                  {% endif %}
                }

                {# Applies border to pseudo element to prevent jitter when hovering #}

                .hs-tabs__tab[aria-selected='false']:after {
                  {% if inactive_style.group_bottom.bottom.css %}
                    {{ set_border_bottom(inactive_style.group_bottom.bottom) }}
                  {% endif %}
                }

                {# Tab hover #}

                .hs-tabs__tab[aria-selected='false']:hover,
                .hs-tabs__tab[aria-selected='false']:focus {
                  {% if hover_style.group_top_sides.top_sides.css %}
                    {{ set_border_top_sides(inactive_style.group_top_sides.top_sides) }}
                  {% endif %}

                  {% if hover_style.group_bottom.bottom.css %}
                    {{ set_border_bottom(hover_style.group_bottom.bottom) }}
                  {% endif %}
                  {% if hover_bg_color.color %}
                    background-color: rgba({{ hover_bg_color.color|convert_rgb }}, {{ hover_bg_color.opacity / 100 }});
                  {% endif %}
                  {% if hover_font.color %}
                    color: {{ hover_font.color }};
                  {% endif %}
                  {% if hover_font.size %}
                    font-size: {{ hover_font.size ~ hover_font.size_unit }};
                  {% endif %}
                  {% if hover_font.style %}
                    {{ hover_font.style }};
                  {% endif %}
                }

                .hs-tabs__tab[aria-selected='false']:hover:after,
                .hs-tabs__tab[aria-selected='false']:focus:after {
                  {% if hover_style.group_bottom.bottom.css %}
                    {{ set_border_bottom(hover_style.group_bottom.bottom) }}
                  {% endif %}
                }

                {# Tab content #}

                .hs-tabs__content {
                  {{ module.styles.content.border.border.css }}
                  {% if module.styles.content.background.color.css %}
                    background-color: {{ module.styles.content.background.color.css }};
                  {% endif %}
                }

                .hs-tabs__content__panel {
                  {{ module.styles.content.spacing.spacing.css }}
                  {% if module.fixed_height %}
                    margin-right: -100%;
                    visibility: hidden;
                  {% else %}
                    display: none;
                  {% endif %}
                }

                .hs-tabs__content__panel--visible {
                  {% if module.fixed_height %}
                    visibility: visible;
                  {% else %}
                    display: block;
                  {% endif %}
                }

              {% end_scope_css %}
              </style>
            {% end_require_css %}

            {# Tabs module #}
            <section class="hs-tabs-wrapper">

              {# Tab #}
              <div class="hs-tabs">
                <button class="hs-tabs__nudge hs-tabs__nudge--left" aria-label="{{ module.default_text.left_nudge_button_label }}">
                  {% icon "prev_icon"
                    extra_classes="hs-tabs-nudge-icon",
                    name="angle-left",
                    purpose="decorative",
                    style="SOLID",
                    unicode="f105"
                  %}
                </button>
                <div class="hs-tabs__scroll" >
                  <div class="hs-tabs__tab-wrapper" role="tablist" aria-label="{{ module.default_text.tabs_list_aria_label }}">
                    {% for tab in module.tabs %}
                      <button
                        class="hs-tabs__tab"
                        role="tab"
                        aria-selected="{{ "true" if loop.first else "false" }}"
                        aria-controls="hs-tabs__content__panel-{{ loop.index }}--{{ name }}"
                        id="hs-tabs__tab-{{ loop.index }}--{{ name }}"
                        {{ 'tabindex="-1"' if !loop.first }}
                      >
                        {{ tab.tab_label }}
                      </button>
                    {% endfor %}
                  </div>
                </div>
                <button class="hs-tabs__nudge hs-tabs__nudge--right" aria-label="{{ module.default_text.right_nudge_button_label }}">
                  {% icon "next_icon"
                    extra_classes="hs-tabs-nudge-icon",
                    name="angle-right",
                    purpose="decorative",
                    style="SOLID",
                    unicode="f105"
                  %}
                </button>
              </div>

              {# Tab content #}
              {% set hidden_class = "" %}
              <div class="hs-tabs__content">
                {% for tab in module.tabs %}
                  {% set hidden_class = "hs-tabs__content__panel--visible" if loop.first %}
                  <div
                    class="hs-tabs__content__panel {{ hidden_class }}"
                    tabindex="0"
                    role="tabpanel"
                    id="hs-tabs__content__panel-{{ loop.index }}--{{ name }}"
                    aria-labelledby="hs-tabs__tab-{{ loop.index }}--{{ name }}"
                  >
                    {{ tab.content }}
                  </div>
                {% endfor %}
              </div>

            </section>

			</div> <!-- /.ph_product-overview__feature tabs -->
		</div> <!-- /.ph_product-overview__grid-col-3 -->
	</div> <!-- /.ph_product-overview__grid -->

</section> <!-- /.ph_product-overview -->

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
	var swiper = new Swiper(".mySwiper", {
		spaceBetween: 10,
		slidesPerView: 4,
		freeMode: true,
		watchSlidesProgress: true,
	});
	var swiper2 = new Swiper(".mySwiper2", {
		spaceBetween: 10,
		navigation: {
			nextEl: ".swiper-button-next",
			prevEl: ".swiper-button-prev",
		},
		thumbs: {
			swiper: swiper,
		},
	});
</script>