.topbar {
  position: relative;
  background: #606060;
  color: #fff; 
  font-size: 15px;
  padding: 11px 15px 12px;
  text-align: center;
  line-height: 1.2;
}

#header .header-content .header-frame{
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .logo {
  max-width: 265px;
  flex-shrink: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}
#header .items-links {
  flex-shrink: 0;
}
#header .navbar {
  flex-grow: 1;
  padding: 0 10px;
}
#header .nav-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header .hs-menu-flow-horizontal > ul{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 15px;
  padding: 0;
  list-style: none;
}
#header .hs-menu-flow-horizontal ul > li {
  position: relative;
  padding: 12px 0; 
}
#header .hs-menu-flow-horizontal ul > li > a {
  display: block;
  padding: 15px 11px; 
  transition: all .3s ease-in-out;
  color: #626262; 
}
#header .hs-menu-flow-horizontal ul > li > ul {
  font-size: 14px;
  letter-spacing: 0px;
  text-transform: none;
  background-color: #fff;
  box-shadow: 0 8px 8px #0a0a0a1a;
  display: block !important;
  left: 0;
  position: absolute;
  top: 100%; 
  z-index: 20; 
  padding: 15px 11px;
  max-width: 300px; 
  min-width: 200px; 
  margin: 0;
  list-style: none;
  visibility: hidden !important;
  opacity: 0 !important;
  transition: all 0.3s ease-in-out;
}
#header .hs-menu-flow-horizontal ul > li > ul > li {
  padding: 0;
}
#header .hs-menu-flow-horizontal ul > li > ul > li > a{
  padding: 5px 7.5px;
  font-size: 14px;
  display: block;
  color: #979797;
  transition: all .3s ease-in-out;
}
#header .hs-menu-flow-horizontal ul > li.hs-item-has-children > a {
  padding-right: 37px;
}
#header .hs-menu-flow-horizontal ul > li.hs-item-has-children > a:after {
  /*font-family: "Font Awesome 5 Free";
  content: "\f078";
  width: 24px;
  */
  background: url(https://323765.fs1.hubspotusercontent-na1.net/hubfs/323765/img/arrow-down.png) no-repeat 0 0 / 100% auto;
  position: absolute;
  right: 10px;   
  content: "";
  width: 15px;
  height: 10px; 
  text-align: center;
  transition: transform .3s ease-in-out 0s;
  top: 50%;
  transform: translateY(-40%);
  font-weight: 900;
}
#header .hs-menu-flow-horizontal ul > li:hover > a {
  color: #b8b8b8;
}
#header .hs-menu-flow-horizontal ul > li.hs-item-has-children:hover > a:after {
  transform:  translateY(-40%) rotateX(180deg);
}
#header .hs-menu-flow-horizontal ul > li > ul > li > a:hover {
  color: #626262;
}
#header .hs-menu-flow-horizontal ul > li:hover  > ul {
  opacity: 1 !important;
  visibility: visible !important; 
}

#header .item-links {
  display: flex;
  align-items: center;
  margin: 0 -5px;
  padding: 0;
  list-style: none;
}
#header .item-links li {
  padding: 0 5px;
} 
#header .item-links li a {
  display: block;
  width: 18px;
  color: rgb(98, 98, 98);
  height: 18px;
}
#header .item-links li a svg {
  width: 100%;
  fill: rgb(98, 98, 98);
  height: 100%;
}



