/*! CSS Used from: https://cdn.shopify.com/s/files/1/0337/9055/8253/t/8/assets/styles.scss.css?v=134237117925933840101664380330 ; media=all */
@media all {
	*,
	*:before,
	*:after {
		box-sizing: inherit;
	}
	section {
		display: block;
	}
	a {
		color: #979797;
		cursor: pointer;
		text-decoration: none;
		transition: color 0.3s ease-in-out;
	}
	span {
		font-style: inherit;
		font-weight: inherit;
	}
	a {
		color: #979797;
		cursor: pointer;
		text-decoration: none;
	}
	a:hover {
		color: #d4d4d4;
	}
	em {
		font-style: italic;
	}
	.section {
		max-width: 1200px;
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}
	.section.has-background {
		width: calc(95% - 20px);
		max-width: 1180px;
		padding-left: 10px;
		padding-right: 10px;
	}
}
/*! CSS Used from: Embedded */
.eapps-pricing-table {
	position: relative;
	font-size: 13px;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans,
		Helvetica Neue, sans-serif;
	line-height: 1.2308;
	font-weight: 400;
	min-width: 320px;
	margin: 0 auto;
}
.eapps-pricing-table-inner {
	padding-bottom: 20px;
}
.eapps-pricing-table-columns-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	justify-content: center;
}
.eapps-pricing-table-column {
	-webkit-flex-grow: 1;
	flex-grow: 1;
	-webkit-flex-basis: 320px;
	flex-basis: 320px;
	background: #fff;
	min-width: 160px;
	max-width: 320px;
	text-align: center;
	position: relative;
	margin: 0 10px;
	z-index: 1;
}
.eapps-pricing-table-column-head-mobile-inner {
	display: none;
	box-sizing: content-box;
}
.eapps-pricing-table-column-item {
	display: block;
	position: relative;
	margin: 32px 0;
	box-sizing: content-box;
}
.eapps-pricing-table-column-title {
	z-index: 1;
}
.eapps-pricing-table-column-title-container {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
}
.eapps-pricing-table-column-title-text {
	color: #17191a;
	font-size: 24px;
	font-weight: 400;
	word-break: break-word;
	line-height: 30px;
}
.eapps-pricing-table-column-title-caption {
	color: rgba(23, 25, 26, 0.7);
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
}
.eapps-pricing-table-column-title-text
	+ .eapps-pricing-table-column-title-caption {
	margin-top: 4px;
}
.eapps-pricing-table-column-features-item {
	color: #17191a;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
	position: relative;
}
.eapps-pricing-table-column-features-item:before,
.eapps-pricing-table-column-features-item:after {
	background-color: #17191a;
	opacity: 0.1;
}
.eapps-pricing-table-column-features-item-inner {
	display: -webkit-flex;
	display: flex;
	padding: 8px 32px;
	-webkit-align-items: flex-start;
	align-items: flex-start;
}
.eapps-pricing-table-column-features-left
	.eapps-pricing-table-column-features-item-inner {
	text-align: left;
	-webkit-justify-content: left;
	justify-content: left;
}
.eapps-pricing-table-column-features-item-icon {
	display: block;
	width: 16px;
	height: 16px;
}
.eapps-pricing-table-column-features-item-icon-container {
	width: 16px;
	height: 16px;
}
.eapps-pricing-table-column-features-item-icon-container
	+ .eapps-pricing-table-column-features-item-text {
	margin-left: 8px;
}
.eapps-pricing-table-column-price-wrapper {
	font-weight: 400;
	color: #17191a;
}
.eapps-pricing-table-column-price-currency {
	opacity: 0.7;
	font-weight: 400;
}
.eapps-pricing-table-column-price-text {
	display: inline-block;
	line-height: 1.2;
}
.eapps-pricing-table-column-price-fix {
	opacity: 0.7;
}
.eapps-pricing-table-column-price-fix-prefix {
	padding-right: 4px;
	font-size: 11px;
}
.eapps-pricing-table-column-price-fix-postfix {
	font-size: 15px;
}
.eapps-pricing-table-column-price-caption {
	color: #7f8588;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
}
.eapps-pricing-table-column-button {
	box-sizing: border-box;
	display: inline-block;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	outline: none;
	color: #fff;
	background: #f0542e;
	min-width: 100px;
	max-width: 100%;
	cursor: pointer;
	font-size: 13px;
	font-weight: 500;
	height: 32px;
	transition: all 0.2s ease;
	padding: 0 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-decoration: none;
	border-radius: 4px;
	opacity: 1;
}
.eapps-pricing-table-column-button:hover {
	opacity: 0.8;
}
.eapps-pricing-table-column-button-container {
	text-align: center;
}
.eapps-pricing-table-column-button-type-filled {
	color: #fff;
	background: #1c91ff;
	border: 1px solid transparent;
}
.eapps-pricing-table-column-button-size-small {
	height: 32px;
	line-height: 30px;
	min-width: 80px;
	padding: 0 24px;
}
.eapps-pricing-table-column-ribbon {
	background: #fff;
	color: #f0542e;
	position: absolute;
	display: block;
	top: 18px;
	right: -30px;
	width: 128px;
	padding: 9px 20px 8px;
	margin: 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	height: 32px;
	z-index: 2;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	box-sizing: border-box;
}
.eapps-pricing-table-column-ribbon-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 120px;
	overflow: hidden;
}
.eapps-pricing-table-column-featured {
	margin-top: -20px !important;
	margin-bottom: -20px !important;
	z-index: 3;
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}
.eapps-pricing-table-column-featured
	.eapps-pricing-table-column-item:first-child {
	padding-top: 20px;
}
.eapps-pricing-table-column-featured
	.eapps-pricing-table-column-item:last-child {
	padding-bottom: 20px;
}
.eapps-pricing-table-layout-grid .eapps-pricing-table-column {
	margin-left: 0;
	margin-right: 0;
}
.eapps-pricing-table-layout-grid
	.eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16 {
	border-radius: 0;
}
.eapps-pricing-table-layout-grid
	.eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16:first-child {
	border-radius: 16px 0 0 16px;
}
.eapps-pricing-table-layout-grid
	.eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16:first-child
	.eapps-pricing-table-column-item:first-child {
	border-radius: 16px 0 0 0;
}
.eapps-pricing-table-layout-grid
	.eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16:first-child
	.eapps-pricing-table-column-item:last-child {
	border-radius: 0 0 0 16px;
}
.eapps-pricing-table-layout-grid
	.eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16:last-child {
	border-radius: 0 16px 16px 0;
}
.eapps-pricing-table-layout-grid
	.eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16:last-child
	.eapps-pricing-table-column-item:first-child {
	border-radius: 0 16px 0 0;
}
.eapps-pricing-table-layout-grid
	.eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16:last-child
	.eapps-pricing-table-column-item:last-child {
	border-radius: 0 0 16px 0;
}
.eapps-pricing-table-layout-grid
	.eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16.eapps-pricing-table-column-featured {
	border-radius: 16px;
}
.eapps-pricing-table-layout-grid
	.eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16.eapps-pricing-table-column-featured
	.eapps-pricing-table-column-item:first-child {
	border-radius: 16px 16px 0 0;
}
.eapps-pricing-table-layout-grid
	.eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16.eapps-pricing-table-column-featured
	.eapps-pricing-table-column-item:last-child {
	border-radius: 0 0 16px 16px;
}
.eapps-pricing-table-toggle-container {
	margin: 0 auto 48px;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
}
/*! CSS Used from: Embedded */
#eapps-pricing-table-1 .eapps-pricing-table-column-1 {
	box-shadow: 0 0 0 1px rgb(114, 114, 114);
	z-index: 2;
}
#eapps-pricing-table-1
	.eapps-pricing-table-column-1
	.eapps-pricing-table-column-inner
	.eapps-pricing-table-column-title-text {
	font-size: 16px;
	font-weight: 600;
}
#eapps-pricing-table-1
	.eapps-pricing-table-column-1
	.eapps-pricing-table-column-features-item-icon {
	fill: rgb(116, 216, 107);
}
#eapps-pricing-table-1
	.eapps-pricing-table-column-1
	.eapps-pricing-table-column-features-item {
	font-size: 16px;
}
#eapps-pricing-table-1
	.eapps-pricing-table-column-1
	.eapps-pricing-table-column-price-text {
	font-size: 40px;
	font-weight: 600;
}
#eapps-pricing-table-1
	.eapps-pricing-table-column-1
	.eapps-pricing-table-column-price-currency {
	font-size: 20px;
}
#eapps-pricing-table-1
	.eapps-pricing-table-column-1
	.eapps-pricing-table-column-button-type-filled {
	background: rgb(114, 114, 114);
	color: rgb(255, 255, 255);
}
#eapps-pricing-table-1 .eapps-pricing-table-column-2 {
	box-shadow: 0 0 0 1px rgb(114, 114, 114), 0 6px 20px rgba(0, 0, 0, 0.15);
}
#eapps-pricing-table-1
	.eapps-pricing-table-column-2
	.eapps-pricing-table-column-inner
	.eapps-pricing-table-column-title-text {
	font-size: 16px;
	font-weight: 600;
}
#eapps-pricing-table-1
	.eapps-pricing-table-column-2
	.eapps-pricing-table-column-features-item-icon {
	fill: rgb(116, 216, 107);
}
#eapps-pricing-table-1
	.eapps-pricing-table-column-2
	.eapps-pricing-table-column-features-item {
	font-size: 16px;
}
#eapps-pricing-table-1
	.eapps-pricing-table-column-2
	.eapps-pricing-table-column-price-text {
	font-size: 40px;
	font-weight: 600;
}
#eapps-pricing-table-1
	.eapps-pricing-table-column-2
	.eapps-pricing-table-column-price-currency {
	font-size: 20px;
}
#eapps-pricing-table-1
	.eapps-pricing-table-column-2
	.eapps-pricing-table-column-button-type-filled {
	background: rgb(114, 114, 114);
	color: rgb(255, 255, 255);
}
#eapps-pricing-table-1
	.eapps-pricing-table-column-2
	.eapps-pricing-table-column-ribbon {
	background-color: rgb(114, 114, 114);
	color: rgb(255, 255, 255);
}
#eapps-pricing-table-1 .eapps-pricing-table-column-3 {
	box-shadow: 0 0 0 1px rgb(114, 114, 114);
	z-index: 2;
}
#eapps-pricing-table-1
	.eapps-pricing-table-column-3
	.eapps-pricing-table-column-inner
	.eapps-pricing-table-column-title-text {
	font-size: 16px;
	font-weight: 600;
}
#eapps-pricing-table-1
	.eapps-pricing-table-column-3
	.eapps-pricing-table-column-features-item-icon {
	fill: rgb(116, 216, 107);
}
#eapps-pricing-table-1
	.eapps-pricing-table-column-3
	.eapps-pricing-table-column-features-item {
	font-size: 16px;
}
#eapps-pricing-table-1
	.eapps-pricing-table-column-3
	.eapps-pricing-table-column-price-text {
	font-size: 40px;
	font-weight: 600;
}
#eapps-pricing-table-1
	.eapps-pricing-table-column-3
	.eapps-pricing-table-column-price-currency {
	font-size: 20px;
}
#eapps-pricing-table-1
	.eapps-pricing-table-column-3
	.eapps-pricing-table-column-button-type-filled {
	background: rgb(114, 114, 114);
	color: rgb(255, 255, 255);
}
/*! CSS Used fontfaces */
@font-face {
	font-family: Open Sans;
	font-weight: 400;
	font-style: normal;
	font-display: block;
	src: url(https://fonts.shopifycdn.com/open_sans/opensans_n4.5460e0463a398b1075386f51084d8aa756bafb17.woff2?h1=dGFpbG9yZWRjb21wYW55c3RvcmVzLmNvbQ&hmac=f3076109d9da74682167676db32f6503232c2baa0eebb7d4bf3d1183190ac3c5)
			format("woff2"),
		url(https://fonts.shopifycdn.com/open_sans/opensans_n4.8512334118d0e9cf94c4626d298dba1c9f12a294.woff?h1=dGFpbG9yZWRjb21wYW55c3RvcmVzLmNvbQ&hmac=881b1483f9a4d56590a32223e073f734738779cdc1522909ee4435a03820f213)
			format("woff");
}
@font-face {
	font-family: Open Sans;
	font-weight: 700;
	font-style: normal;
	font-display: block;
	src: url(https://fonts.shopifycdn.com/open_sans/opensans_n7.8bfd11295a1edbb769a778900a2afc48b16848e7.woff2?h1=dGFpbG9yZWRjb21wYW55c3RvcmVzLmNvbQ&hmac=ac719939ad32e3703ce36b74e4994af5a336ea701396e0b03362e191a3f76d47)
			format("woff2"),
		url(https://fonts.shopifycdn.com/open_sans/opensans_n7.4e2eb03bfa5cdc209fbd1b7b5ee863b8032f4b36.woff?h1=dGFpbG9yZWRjb21wYW55c3RvcmVzLmNvbQ&hmac=83aed193f922949731fde750a83f1ad0c83ac454cd4a05f51083926a6ad849b3)
			format("woff");
}
@font-face {
	font-family: Open Sans;
	font-weight: 400;
	font-style: italic;
	font-display: block;
	src: url(https://fonts.shopifycdn.com/open_sans/opensans_i4.3854a246d5acf17aab4c771d3d4542818d3a46a8.woff2?h1=dGFpbG9yZWRjb21wYW55c3RvcmVzLmNvbQ&hmac=e67d508c5f707f919c06586c71f9fffc9b8e0ad604c6cc84ca21fd8de1837685)
			format("woff2"),
		url(https://fonts.shopifycdn.com/open_sans/opensans_i4.1cb364a3d4a7a0305132a25a76ac8fa7d381d3c6.woff?h1=dGFpbG9yZWRjb21wYW55c3RvcmVzLmNvbQ&hmac=e27b8bf2cb69a671571d57b32acc3d4bddb0bf31f21e53b87e76463d04c29d32)
			format("woff");
}
@font-face {
	font-family: Open Sans;
	font-weight: 700;
	font-style: italic;
	font-display: block;
	src: url(https://fonts.shopifycdn.com/open_sans/opensans_i7.f2dd6989e403681b1042ba33de0a0ae8062b7ecb.woff2?h1=dGFpbG9yZWRjb21wYW55c3RvcmVzLmNvbQ&hmac=2591930d79bfd57c49766c8f143ac382e29a39c758fc082f715687f5c2efce73)
			format("woff2"),
		url(https://fonts.shopifycdn.com/open_sans/opensans_i7.2b1150c87b2f7e0338af40875cb176d5ab2ddad7.woff?h1=dGFpbG9yZWRjb21wYW55c3RvcmVzLmNvbQ&hmac=e199ae15142126398b45e4899c75e49bb8b7618504c427e3abe3aa49ecd7b80d)
			format("woff");
}
@font-face {
	font-family: Open Sans;
	font-weight: 300;
	font-style: normal;
	font-display: block;
	src: url(https://fonts.shopifycdn.com/open_sans/opensans_n3.e625f784016f3f6ecc60fbe32f43a8968a01f630.woff2?h1=dGFpbG9yZWRjb21wYW55c3RvcmVzLmNvbQ&hmac=69e3517bcbc7540b52d2bb5e84d70024f5308b559ce0f7b6839270f89f494b59)
			format("woff2"),
		url(https://fonts.shopifycdn.com/open_sans/opensans_n3.802efb07b3f5051e538f43bcf2ea8622d85014ad.woff?h1=dGFpbG9yZWRjb21wYW55c3RvcmVzLmNvbQ&hmac=c132ea6ad19236dcfb56b13c50e05d2de1cf3a4c559794f9aa3e41d51cff0471)
			format("woff");
}
@font-face {
	font-family: Open Sans;
	font-weight: 300;
	font-style: italic;
	font-display: block;
	src: url(https://fonts.shopifycdn.com/open_sans/opensans_i3.b96574b8fc32250fc5e056d1eec2d4eef8193064.woff2?h1=dGFpbG9yZWRjb21wYW55c3RvcmVzLmNvbQ&hmac=1670d9032d92f3d198fc3b59e28e2d1cfba0c03fd4c2fc258ebf9ce8d7c6cded)
			format("woff2"),
		url(https://fonts.shopifycdn.com/open_sans/opensans_i3.0824557f2fc85ad602beaa6f5f27568602f0b60b.woff?h1=dGFpbG9yZWRjb21wYW55c3RvcmVzLmNvbQ&hmac=1268c4fd0a2285d26ada4bc90f5d4dd2eb39491e8c2a46036a1e825d94643cee)
			format("woff");
}
